{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

{% for listing in listings %}
    <ul>
    {%if listing.image != ""%}
        <li> <h4>{{ listing.title }}</h4> Price: {{ listing.bid }}$ Description: {{ listing.description }} 
            <img src="{{ listing.image }}" alt="{{ listing.title }}"> </li>
    {% else %}
        <li> <h4>{{ listing.title }}</h4> Price: {{ listing.bid }}$ Description: {{ listing.description }}
    {% endif %}
    </ul>
{% endfor %}
{% endblock %}